<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

    <title>پازل ۱۵</title>
</head>
<body>
<!--    <a href="{{ url_for('solve') }}"> <button type="button">Solve</button> </a>-->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="inactive underlineHover">اعداد تصادفی</h2>
        <h2 class="active"> ورود دستی اعداد </h2>


        <table border=1 class="fadeIn second" id="num_table" >
            {% for i in range(4) %}
            <tr>
                {% for j in range(4) %}
                <td id="table_member"> {{ data[i][j] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    </div>
</div>

</body>
</html>